/*------------- Google fonts: Catamaran, Lora and Manrope */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap");

/*------------- General Styles ---*/

body {
  /* padding-top: 64px; --- adjust header below fixed navbar -- */
}

/*-- for border highlight only--*/
header {
  background-color: lightgreen;
}

footer {
  background-color: lightslategray;
}

nav {
  background-color: lightcoral;
}
.col-12 {
  /* border: 2px solid black; */
}

/*------------- Navbar --*/

#navbar img {
  width: 60px;
}

/*-------------  Header --*/

#hero-image {
  padding: 5px;
}

#hero {
  background-image: url("../images/male-carer-taking-care-senior-woman.jpg");
  background-position: 3% 0%;
  background-size: cover;
  height: 200px;
  width: 100%;
}

/*--------- intro section --*/

#intro img {
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

  /*---------- Intro*/
  #intro-image2,
  #intro-cta {
    order: 1; /*---- change image order*/
  }

/*--------------------------- Media queries --*/
/*---------------------------Bootstrap breakpoint for medium phone screens (375px) */
@media screen and (min-width: 375px) {

  /*---------- Intro*/
  #intro img {
    height: 220px;
  }
}

/*---------------------------Bootstrap breakpoint for large phone screens (425px) */
@media screen and (min-width: 425px) {

    /*---------- Intro*/
    #intro img {
      height: 250px;
    }
  }

/*----------------------------Bootstrap breakpoint for tablet screens (768px) */
@media screen and (min-width: 768px) {

    /*------------ Header*/
  #hero {
    height: 500px;
  }

  /*---------- Intro*/
  #intro-image2,
  #intro-cta {
    order: 0; /*---- change image order*/
  }

  .intro-text {
    align-self: center;
  }

  .intro-text p {
    padding: 0 5px;
  }

}
