/*------------- Google fonts: Catamaran, Lora and Manrope */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');

/*------------- General Styles ---*/

header {
    background-color: lightgreen;
}

main {
    background-color: lightskyblue;
}

footer {
    background-color: lightslategray;
}

nav {
    background-color: lightcoral;
}
.col-12 {
    border: 2px solid black;
}