/*------------- Google fonts: Catamaran, Lora and Manrope */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap");

/*------------- General Styles ---*/

body {
  /*-- change body to flex */
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*-- for border highlight only--*/
header {
  background-color: lightgreen;
}

footer {
  background-color: lightslategray;
}

nav {
  background-color: lightcoral;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
  margin: 20px 0;
}

.sub-heading2 {
  margin: 20px 0;
}

/*------------- Navbar --*/

#navbar img {
  width: 60px;
}

/*-------------  Header --*/

#hero-home {
  background-image: url("../images/male-carer-taking-care-senior-woman.jpg");
  background-position: 3% 0%;
  background-size: cover;
  height: 200px;
  width: 100%;
}

/*--------- intro section --*/

.intro-image img {
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

/*---------- Intro*/
#intro-image2,
#intro-cta {
  order: 1; /*---- change image order*/
}

/*--------- services section --*/
/* #services {
   background-color: red;
   padding: 30px;
} */

.service-item {
  padding: 20px;
  margin: 10px 0;
}

.service-item img {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border: 1px solid red;
  border-bottom: 0;
}

.service-body {
  border-radius: 0 0 10px 10px;
  background-color: lightgrey;
  border: 1px solid red;
  border-top: 0;
}

/* remove elements from display*/
.hidden-item {
  display: none;
}

#check-service-one:checked ~ .service-more-one,
#check-service-two:checked ~ .service-more-two,
#check-service-three:checked ~ .service-more-three,
#check-service-four:checked ~ .service-more-four {
  display: block; /*--- display on when checked --*/
}

#check-service-one:checked ~ label,
#check-service-two:checked ~ label,
#check-service-three:checked ~ label,
#check-service-four:checked ~ label {
  display: none; /*--- display off when checked --*/
}

.service-body label {
  border: 1px solid red;
  margin: 20px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background-color: darkcyan;
  color: #fff;
  padding: 4px 6px;
}

.service-body strong {
  text-transform: capitalize;
}

.service-title {
  padding: 0.6rem 0.6rem;
  margin: 0;
}

.service-body p {
  padding: 0.8rem 0.5rem;
  margin: 0;
}

/*----------------------- Footer ---*/

.contact-info {
  padding-top: 20px;

}

.contact-info a {
  color: red;
  text-decoration: none;
}

/*-- Map iframe --*/
.g-map iframe {
  width: 100%;
  align-self: center;
}

.g-map {
  align-self: center;
  margin: 0;
  order: 1;
  padding: 0 20px;
  height: 230px;
}

.g-map p {
  color: darkred;
  font-size: 80%;
  font-style: italic;
  padding: 0 20px;
}

.accessibilty {
  margin-bottom: 20px;
}

/*-------------  footer video --*/

.footer-logo {
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 300px;
  padding: 0;
  border-radius: 10px;
}

.footer-logo  .video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover;
  border-radius: 10px;
}

.footer-logo img {
  width: 70px;
}

.footer-logo .logo-small {
  position: absolute;
  right: 2%;
  top: 2%;
  transform: translate(-2%, -2%);
}

.footer-logo .cta-logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 295px;
}

.footer-logo p {
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

.footer-logo .cta-btn {
  background-color: lightcoral;
  color: white;
}

/*------------ business hours ---*/
.business-hours {
  padding: 20px;
  margin-bottom: 20px;
  height: 300px;
  order: 1;
}

.business-hours table {
  width: 100%;
  justify-self: center;
}

.business-hours th {
  padding: 10px;
  text-align: left;
  width: 30px;
}

.business-hours td,
.business-hours .top {
  padding: 10px;
  text-align: center;
  width: 20px;
}

.business-hours tr {
  border-bottom: 1px solid lightgrey; 
}

/*----------- social media ---*/

.social-media {
  order: 99; /* ensure this is always comes last */
  margin-top: 30px;
}

.social-media ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 0;
  list-style-type: none;
}

.social-media i {
  color: indianred;
}

/*--------------------- Contact Us page --*/
.contact-hero {
  background: url(../images/female-carer-showing-phone-elder-woman.jpg) center center/cover;
  height: 300px;
  width: 100%;
}


.contact-image img {
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

#contact-form {
  margin-bottom: 30px;
}

#contact-form label {
  margin: 10px 10px 5px 0;
}

#contact-form h3 {
  margin-left: 10px;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
  width: 100%;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 6px 12px;
}

#contact-form button {
  background-color: lightcoral;
  border: 1px solid lightslategray;
  border-radius: 5px;
  margin: 2px 5px 10px;
  padding: 7px 12px;
  font-size: 1.1rem;
}

#contact-form form {
  justify-items: center;
}

/*---------- Success page ---*/
.contact-hero {
  background: url(../images/positive-mother-daughter-enjoying-dramatic-view.jpg) center center/cover;
  height: 300px;
  width: 100%;
}

.thank-you div,
.thank-you p,
.thank-you a {
  margin: 20px 0;
}

.thank-you .btn-outline-secondary {
background-color: lightcoral;
}

/*---------- Success page ---*/
.about-hero {
  background: url(../images/elder-couple-seating-with-female-carer-standing.jpeg) center center/cover;
  height: 300px;
  width: 100%; 
}

/*------------- about page ---*/

.about-image {
  background: url(../images/zalama-care-founder.jpg) center center/cover;
  height: 300px;
  color: lightcoral;
  overflow: hidden;
  padding: 0;
  margin: 20px 20px;
  border-radius: 10px;

}

.about-text {
  align-content: center;
  margin: 0;
  padding: 0;
}

/*--------------------------- Media queries --*/
/*---------------------------Bootstrap breakpoint for medium phone screens (375px) */
@media screen and (min-width: 375px) {
  /*---------- Intro section ---*/
  #intro img {
    height: 220px;
  }

  /*---------- services section --*/
  .service-item img {
    height: 220px;
  }

  /*-------------- contct us page ---*/
  #contact-form form {
width: 90%; 
 }
}

/*---------------------------Bootstrap breakpoint for large phone screens (425px) */
@media screen and (min-width: 425px) {
  /*---------- Intro*/
  #intro img {
    height: 270px;
  }

  /*---------- services section --*/
  .service-item img {
    height: 260px;
  }

  /*---------- footer ---*/

  /*-- Map iframe --*/
  .g-map {
    height: 280px;
  }

.g-map iframe {
  width: 80%;
  height: 240px;
}

.business-hours table {
  width: 80%;
}

  /*-------------- contct us page ---*/
  #contact-form form {
    width: 80%; 
     }
}

/*----------------------------Bootstrap breakpoint for tablet screens (768px) */
@media screen and (min-width: 768px) {
  /*------------ Header*/
  #hero {
    height: 500px;
  }

  /*---------- Intro*/
  #intro-image2,
  #intro-cta {
    order: 0; /*---- change image order*/
  }

  .intro-text {
    align-self: center;
  }

  .intro-text p {
    padding: 0 5px;
  }

  /*---------- Intro*/
  #intro img {
    height: 280px;
  }

  /*--------- services section --*/

  .service-body {
    min-height: 220px;
  }

  /*----------- footer ----*/
  .footer-logo .video-bg {
    width: 90%;
  }
  .footer-logo .logo-small {
    right: 4%;
    top: 4%;
  }

  .g-map,
  .business-hours {
    height: 350px;
  }

  /*-------------- contct us page ---*/
  #contact-form form {
    width: 100%; 
     }
}

/*----------------------------Bootstrap breakpoint for laptop screens (1024px) */
@media screen and (min-width: 1024px) {
  /*---------- Intro*/
  #intro img {
    height: 300px;
  }

  /*---------- services section --*/
  .service-item img {
    height: 300px;
  }

    /*----------- footer ----*/
    .footer-logo .video-bg {
      width: 85%;
    }
    .footer-logo .logo-small {
      right: 8%;
    }
}

/*----------------------------Bootstrap breakpoint for Xlarge screens (@media screen and (min-width: 1200px) {
) */
@media screen and (min-width: 1200px) {
  /*---------- Intro*/
  /* .intro-item {
        padding: 25px 50px;
    }

    #intro img {
        height: 350px;
      }
  
    /*---------- services section --*/
  .service-item {
    padding: 25px 50px;
  }

  .service-item img {
    height: 350px;
  }

      /*----------- footer ----*/
      .footer-logo .video-bg {
        width: 80%;
      }
      .footer-logo .logo-small {
        right: 10%;
      }
}

/*----------------------------Bootstrap breakpoint for 2XL screens (@media screen and (min-width: 1650px) {
) */
@media screen and (min-width: 1650px) {
  /*---------- footer*/

  footer .container {
    /* margin: 0 ; */
  }
}
